<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Mi Blog de Python{% endblock %}</title>
    <!-- Usamos un estilo minimalista directo de internet para que se vea lindo sin renegar con CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
    <nav class="container">
        <ul>
            <li><strong>📝 El Blog de Gastón</strong></li>
        </ul>
        <ul>
            <li><a href="{% url 'lista_posts' %}">Inicio</a></li>
            <li><a href="/admin" target="_blank" class="secondary">Panel Admin</a></li>
        </ul>
    </nav>

    <main class="container">
        <!-- Acá adentro se va a inyectar el contenido de cada página -->
        {% block contenido %}
        {% endblock %}
    </main>

    <footer class="container">
        <small>© 2026 - Proyecto Final de Python</small>
    </footer>
</body>
</html>